#footer {
    position: relative;
    z-index: 100;
    margin-top: 20vh;
    height: 200px;
    width: 100%;
    //background: rgb(61, 32, 12);
    background: rgb(20, 20, 20);
    border-top: solid 8px black;
    color: #888;
}

#footerMain {
    position: absolute;
    top: 10%;
    height: 18%;
    width: 100%;
    //background: rgb(99, 54, 13);
    background: rgb(13, 13, 13);
    font-size: 25px;
    font-family: impact;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footerInfoDiv {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0%);
    height: 60%;
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.footerInfoSubDiv {
    height: 100%;
    width: 12%;
    margin-left: 100px;
    margin-right: 100px;
}

.footerInfoSubDiv-v2 {
    height: 100%;
    width: 40%;
}

.footerInfoTheme {
    font-size: 25px;
    font-weight: 600;
}

.footerInfoSubDiv-v2>.footerInfoTheme {
    font-size: 17px;
    font-weight: 600;
}

.footerInfo {
    margin-top: 2%;
    margin-left: 10%;
    font-size: 18px;
}

.footerInfoSubDiv-v2>.footerInfo {
    margin-top: 2%;
    margin-left: 10%;
    font-size: 10px;
}